<button *ngIf="!update" (click)="updateEdit(true)">Modo Edición</button>
<button *ngIf="update" (click)="updateEdit(false)">Modo Lectura</button>



<div *ngIf="update">
  <form [formGroup]="editPostForm" (ngSubmit)="updatePost()">
    
    <label for="Post Title" >Post Title:</label>
        <input type="text" id="title" formControlName="title"><br>
        
      
      <label for="Body">Body:</label>
      <input type="text" id="body" formControlName="body"><br>
      
      
      <label for="userId">User Id:</label>
      <input type="text" id="userId" formControlName="userId"><br>
    
    <button *ngIf="update" type="submit" [disabled]="editPostForm.invalid">Update Post Details</button> 

  </form>
</div>


<div *ngIf="post">
    <h2>{{post.title}}</h2>
    <div><span>ID:</span> {{post._id}}</div>
    <div><span>User ID:</span> {{post.userId}}</div>
    <div><span>Body:</span> {{post.body}}</div>
    <div><span>Title: </span>{{post.title}}</div>
    
    <button (click)="deselect.emit()">Back to Posts</button>
  </div>

